.content-info {
    max-width: 1858px;
    border-top: 4px solid var(--primary);
    color: rgba(0, 0, 0, 0.54);
    background-color: #fbfbfb;
}

.content-info-wrapper {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    width: 1200px;
    margin: 60px auto 0;
}

.section-above-footer {
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.54);
    padding: 40px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    font-size: 14px;

    .section-above-footer-desc {
        flex-shrink: 0;
        margin-right: 25px;
        line-height: 18px;
    }

    .section-above-footer-nation-wrapper {
        padding: 0 5px;
        display: flex;

        .nation-location {
            flex: 1 0 auto;
            text-align: right;
            line-height: 18px;
        }

        .section-above-footer-nation {
            text-decoration: none;
            color: rgba(0, 0, 0, 0.54);
            line-height: 1.8;
            padding: 0 5px;

            &:not(:last-child) {
                border-right: 1px solid rgba(0, 0, 0, 0.2);
            }
        }
    }
}

.section-above-footer-nation-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54);
    line-height: 18px;
}

.footer-wrapper {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.65);
    padding: 42px 0 37px;
    background: #f5f5f5;
}

.footer-desc-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.footer-desc {
    padding: 0 25px;
    border-right: 1px solid rgba(0, 0, 0, 0.09);
    text-transform: uppercase;
    font-size: 12px;

    a {
        text-decoration: none;
        display: block;
        color: rgba(0, 0, 0, 0.54);
    }
}

.footer-logo-link-wrapper {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    margin: 0 20px;

    .footer-vn-background {
        width: 120px;
        height: 45px;
        background-size: 551.6666666666666% 477.77777777777777%;
        background-position: 14.391143911439114% 99.41176470588235%;
        background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/3ce17addcf90b8cd3952b8ae0ffc1299.png);
    }

    .footer-vn-background-no-fake-item {
        width: 48px;
        height: 48px;
        background-size: 1379.1666666666667% 447.9166666666667%;
        background-position: 1.6286644951140066% 92.21556886227545%;
        background-image: url(https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/3ce17addcf90b8cd3952b8ae0ffc1299.png);
    }
}

.footer-under-logo-link-wrapper {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 8px;
}

// Responsive
@media (min-width: 1200px) and (max-width: 1439px) {
    .content-info {
        max-width: 1600px !important;
    }

    .content-info-wrapper {
        width: 1000px !important;
    }

    .section-above-footer {
        max-width: 1034px;
        margin-left: auto;
        margin-right: auto;
    }

    .section-above-footer-desc {
        flex-shrink: 0;
        margin-right: auto !important;
        line-height: 18px;
        margin-left: auto;
    }

    .section-above-footer-nation-wrapper {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-wrapper {
        .wrapper {
            width: 1000px !important;
        }
    }

    .section-above-footer-wrapper {
        width: 1000px !important;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .content-info {
        max-width: 1200px !important;
    }

    .content-info-wrapper {
        width: 950px !important;
    }

    .section-above-footer {
        max-width: 1009px;
        margin-right: auto;
    }

    .section-above-footer-desc {
        flex-shrink: 0;
        margin-right: auto !important;
        line-height: 18px;
        margin-left: auto;
    }

    .section-above-footer-nation-wrapper {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-wrapper {
        .wrapper {
            max-width: 960px !important;
        }
    }

    .section-above-footer-wrapper {
        width: 960px !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .content-info-wrapper {
        width: 730px !important;
    }

    .section-above-footer {
        max-width: 755px;
        margin-right: auto;
        border-top: none;
    }

    .section-above-footer-desc {
        flex-shrink: 0;
        margin-right: auto !important;
        line-height: 18px;
        margin-left: auto;
    }

    .section-above-footer-nation-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .section-above-footer-nation {
        max-width: 100%;
    }

    .footer-desc {
        padding: 0 6px;
    }

    .footer-wrapper {
        .wrapper {
            max-width: 700px !important;
        }
    }

    .section-above-footer-wrapper {
        width: 600px !important;
    }
}
