.wrapper {
    display: flex;

    .carouselContainer {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
        line-height: 0;
        max-height: 235px;
    }
}

.carousel-images {
    width: 796px;
    height: 235px;
}

.salePicture {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    display: flex;
    flex-direction: column;
    margin-left: 4px;
    max-height: 235px;
    min-width: 400px;

    & a {
        color: rgba(0, 0, 0, 0.87);
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
        overflow: hidden;

        & div {
            height: 100%;
            background-color: #fafafa;

            & img {
                object-fit: cover;
                object-position: bottom;
                height: 100%;
                width: 100%;
            }
        }
    }

    & a + a {
        margin-top: 4px;
    }
}

.btn-prev {
    left: 0;
}
.btn-next {
    right: 0;
}

// responsive
@media (min-width: 1200px) and (max-width: 1439px) {
    .wrapper {
        width: 1000px !important;
    }

    .carousel-images {
        width: 595px;
    }

    .salePicture {
        flex-grow: 1;

        a {
            height: 116px !important;
            width: 100% !important;
        }
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .wrapper {
        width: 960px !important;
    }

    .carousel-images {
        width: 555px;
    }

    .salePicture {
        flex-grow: 1;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .wrapper {
        width: 750px !important;
    }

    .carousel-images {
        width: 450px;
        height: 180px;
    }

    .salePicture-link {
        width: 293px !important;
    }
    .salePicture {
        min-width: 0;
    }
}
