.shopee-popup-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 600;

    .shopee-popup__overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .shopee-popup__container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow: visible;
        max-height: 100%;
        max-width: 100%;

        .shopee-popup__card {
            background-color: #fff;
            background: #fff;
            border-radius: 3px;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
            width: 560px;
            padding: 20px;
            overflow: visible;

            .shopee-popup__message {
                margin-top: 40px;
                font-size: 16px;
            }
        }
    }
}

.shopee-alert-popup__message-list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.shopee-alert-popup__btn-layout {
    display: flex;
    margin-top: 100px;
}

.shopee-btn-solid {
    span {
        font-weight: normal;
    }
}
