.wrapper {
    height: 120px;
    background: linear-gradient(-180deg, #f53d2d, #f63);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.wrapper-sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateZ(0);
    z-index: 100;

    .navbar-wrapper.container-wrapper {
        min-width: inherit;
    }
}

.navbar-wrapper {
    z-index: 400;
    background: transparent;
    position: relative;

    .navbar {
        color: var(--white-color);
        align-items: center;
        margin-bottom: 6px;
    }

    .container {
        margin-top: 3px;
    }
}

.v-center {
    align-items: center;
    margin-bottom: 4px;

    .seller_channel {
        color: var(--white-color);
        text-decoration: none;
        font-weight: 300;
        font-size: 1.3rem;
        padding: 4px;
        position: relative;
        overflow: visible;
    }
}

.seller_become {
    text-decoration: none;
    font-weight: 300;
    font-size: 1.3rem;
    padding: 4px;
    position: relative;
    overflow: visible;
    margin-left: 6px;

    &:hover {
        color: var(--white-color);
    }

    &::before {
        content: '';
        height: 1.4rem;
        width: 0;
        border-left: 1px solid hsla(0, 0%, 100%, 0.22);
        border-right: 1px solid hsla(0, 0%, 100%, 0.22);
        position: absolute;
        top: calc(50% - 7px);
        left: -3px;
    }
}

.shopee-drawer {
    display: flex;
    position: relative;
    overflow: visible;
    outline: 0;
    margin-left: 4px;

    &::after {
        content: '';
        height: 1.4rem;
        width: 0;
        border-left: 1px solid hsla(0, 0%, 100%, 0.22);
        border-right: 1px solid hsla(0, 0%, 100%, 0.22);
        position: absolute;
        top: calc(50% - 7px);
    }

    .upload {
        color: var(--white-color);
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 300;
        padding: 0.5rem;
        margin-left: 4px;
        position: relative;
        overflow: visible;
        outline: 0;
        cursor: pointer;

        &:last-child {
            border: 0;
        }
    }
}

.connect {
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
    padding: 0.5rem;
    position: relative;
    overflow: visible;
    outline: 0;
    border: 0;
    margin-left: 6px;

    &::after {
        content: '';
        height: 1.4rem;
        width: 0;
        border-left: 1px solid hsla(0, 0%, 100%, 0.22);
        border-right: 1px solid hsla(0, 0%, 100%, 0.22);
        position: absolute;
        top: calc(50% - 7px);
        left: -3px;
    }
}

.navbar__spacer {
    flex: 1;
}

.navbar__links {
    align-items: center;
    margin-bottom: 0;
    margin-top: -8px;
    margin-right: 20px;

    .navbar__link {
        position: relative;
        cursor: pointer;

        .angle-down {
            position: relative;
            top: 1px;
            font-size: 13px;
        }
    }

    .navbar__support-name {
        font-weight: 300;
        font-size: 1.3rem;
        text-transform: capitalize;
    }

    .navbar__link--signup {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 1.4rem;
        text-transform: none;
        margin-left: 16px;

        &:hover {
            opacity: 0.7;
        }
    }

    .navbar__link--login {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 1.4rem;
        text-transform: none;

        &:hover {
            opacity: 0.7;
        }
    }

    .navbar__link-separator {
        border-right: 1px solid hsla(0, 0%, 100%, 0.4);
        height: 1.4rem;
        margin: 6px;
        position: relative;
        top: 2px;
    }
}

.navbar__link:hover > div[role='button'] {
    opacity: 0.7;
}

.header_pseudo {
    position: absolute;
    width: 107px;
    height: 20px;
    background: none;
    top: 18px;
}

.header-with-search-wrapper {
    background: transparent;

    .header-with-search {
        display: flex;
        justify-content: space-between;
        padding-top: 12px;

        .header-with-search__logo-section {
            position: relative;
            top: -0.1875rem;
            padding-right: 2.5rem;

            .header-with-search__logo-wrapper {
                padding: 2px;
                margin: -2px;
                border-radius: 2px;

                .header-with-search__logo {
                    width: 162px;
                    height: 50px;
                    position: relative;
                    display: block;
                    fill: var(--white-color);
                }
            }
        }
    }
}

.bars-icon {
    display: none !important;
}

.header-with-search__search-section {
    width: 840px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

    .shopee-searchbar {
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.09);
        --focus-indicator-spacing: 3px;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        padding: 0.1875rem;
        border-radius: 2px;
        background: var(--white-color);
        height: 40px;
        font-size: 14px;
    }
}

.search-result {
    width: 757px;
}

.search-shop {
    padding: 7px;
}

.shopee-searchbar__main {
    display: flex;
    flex: 1;

    .shopee-searchbar__input {
        background-color: var(--white-color);
        border-color: var(--white-color);
        display: flex;
        flex: 1;
        box-sizing: border-box;
        padding: 0 1rem;
        position: relative;
    }
}

.shopee-searchbar-input__input {
    display: flex;
    flex: 1;
    align-items: center;
    outline: none;
    border: 0;
    padding: 0;
    margin: 0;
    line-height: normal;
}

.suggest-wrapper {
    width: 100%;
    display: flex;
}

.suggest {
    width: 100%;
    display: flex;
    position: relative;
    margin-top: 8px;
    height: 1.5rem;
    font-size: 1.2rem;
    font-weight: 300;
    flex-wrap: wrap;
    overflow-y: clip;
}

.suggest-name {
    text-decoration: none;
    position: relative;
    overflow: visible;
    outline: 0;
    white-space: nowrap;
    display: block;
    color: hsla(0, 0%, 100%, 0.9);
    height: 12px;
    line-height: 1.6rem;
    margin-bottom: 4px;

    + .suggest-name {
        margin-left: 12px;
    }

    &:hover {
        color: var(--white-color);
        opacity: 0.9;
    }
}

.header-with-search__cart-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding-bottom: 5px;
    margin: 0 10px;

    .header-with-search__cart {
        position: relative;

        &:hover > .stardust-popover__wrapper {
            display: block;
        }
    }
}

.cart-drawer-container {
    padding: 10px 0;
    font-size: 24px;

    .cart-drawer {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 0 0 0 5px;
        position: relative;
        overflow: visible;
        outline: 0;
    }
}

.shopee-cart-number-badge {
    top: 0;
    left: 21px;
    position: absolute;
    border-radius: 44px;
    width: 25px;
    line-height: 17px;
    padding: 0px 5px;
    text-align: center;
    height: 20px;
    border: 2px solid var(--brand-primary-color, var(--primary));
    color: var(--brand-primary-color, var(--primary));
    background-color: var(--white-color);
    margin-right: -14px;
    font-size: 14px;
}

.notify-popover-wrapper {
    top: 30px;
    right: 0;
    transform-origin: 360.695px top;
    border: 1px solid rgba(0, 0, 0, 0.09);
    will-change: transform;
    position: absolute;
    display: none;
}

.notify-description {
    color: #000;

    .notify-wrapper {
        width: 400px;
        background-color: #fff;
        box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;
        overflow: hidden;
        color: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        height: 350px;

        .notify {
            width: 100%;
            flex: 1;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.notify__image-wrapper {
    position: relative;

    .notify__image {
        object-fit: contain;
        vertical-align: bottom;
        width: 100px;
        height: 100px;
    }
}

.notify-warn {
    margin: 20px 0 0;
}

.notify__register,
.notify__login {
    height: 40px;
    width: 50%;
    background-color: #f5f5f5;
    border: 0;
    text-align: center;
    margin-right: 3px;

    &:hover {
        opacity: 0.8;
    }
}

.notify__register div,
.notify__login div {
    display: inline-block;
    position: relative;
    overflow: visible;
    outline: 0;
    font-size: 1.4rem;
    font-weight: 300;
}

.popover_arrow {
    top: 1px;
    left: 360.695px;
    transform: translate(-7px, -100%);
    border-bottom: 10px solid rgba(0, 0, 0, 0.09);
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    z-index: 3;
    position: absolute;
    will-change: transform;

    .popover_arrow-inner {
        position: absolute;
        left: -8px;
        width: 0;
        height: 0;
        border-bottom: 10px solid rgb(255, 255, 255);
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        bottom: -10px;
    }
}

.notify-navbar:hover > .notify-popover-wrapper {
    display: flex;
    animation: fadeInScaleUp 0.3s forwards;
}

@keyframes fadeInScaleUp {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.langues-wrapper {
    box-shadow: 0 1.2rem 4.125rem 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 2px;
    border-top: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .langues-selected {
        font-size: 1.4rem;
        font-weight: 300;
        justify-content: left;
        padding: 0.625rem;
        line-height: 1.25rem;
        background-color: initial;
        border: 0;
    }

    .selected {
        color: var(--primary);
    }
}

.langues-popover-wrapper {
    top: 30px;
    right: 0px;
    transform-origin: 144.086px top;
    border: 1px solid rgba(0, 0, 0, 0.09);
    will-change: transform;
    position: absolute;
    display: none;

    .popover_arrow2 {
        top: 1px;
        left: 144.086px;
        transform: translate(-7px, -100%);
        border-bottom: 10px solid rgba(0, 0, 0, 0.09);
        border-left: 0px solid transparent;
        border-right: 0px solid transparent;
        z-index: 3;
        position: absolute;
        will-change: transform;

        .popover_arrow-inner2 {
            border-bottom: 10px solid rgb(255, 255, 255);
            border-left: 14px solid transparent;
            border-right: 14px solid transparent;
            bottom: -10px;
            position: absolute;
            left: -8px;
            width: 0;
            height: 0;
        }
    }
}

.langues:hover > .langues-popover-wrapper {
    display: flex;
    animation: fadeInScaleUp 0.3s forwards;
}

.stardust-popover__wrapper {
    right: -20px;
    transform-origin: 376px top;
    border: 1px solid rgba(0, 0, 0, 0.09);
    animation: popover-enter-animation 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    opacity: 1;
    will-change: transform;
    position: absolute;
    z-index: 400 !important;
    width: 402px;
    height: auto;
    background-color: var(--white-color);
    display: none;
}

@keyframes popover-enter-animation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.stardust-popover_arrow {
    top: 1px;
    left: 376px;
    transform: translate(-7px, -100%);
    border-bottom: 10px solid rgba(0, 0, 0, 0.09);
    border-left: 0px solid;
    border-right: 0px solid;
    z-index: 10;
    position: absolute;
    will-change: transform;

    .stardust-popover_arrow-inner {
        border-bottom: 10px solid rgb(255, 255, 255);
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        bottom: -10px;
        position: absolute;
        left: -8px;
        width: 0;
        height: 0;
    }
}

.stardust-popover__popover {
    box-shadow: 0 1px 50px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    width: 400px;
}

.new-product-label {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 40px;
    color: rgba(0, 0, 0, 0.26);
    text-transform: capitalize;
}

.new-product {
    width: 100%;
    display: flex;
    padding: 10px;
    position: relative;

    .product-img {
        width: 42px;
        height: 42px;
        border: 1px solid rgba(0, 0, 0, 0.09);
        flex-shrink: 0;
        object-fit: cover;
    }
}

.product-items-name-wrapper {
    flex: 1;
    margin-left: 10px;
    overflow: hidden;
}

.product-items-name {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    white-space: nowrap;
    font-size: 14px;
}

.product-items-price-wrapper {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-left: 40px;
    font-size: 14px;

    .product-items-price {
        color: var(--primary);
    }
}

.go-to-cart {
    height: 60px;
    line-height: 60px;
    background-color: #fdfdfd;
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.go-to-cart-btn {
    flex-shrink: 0;
    max-width: unset;
    position: relative;
    overflow: visible;
    outline: 0;
    height: 34px !important;
    width: 122px;
    font-size: 14px;
    font-weight: 300;

    a {
        padding: 12px;
    }
}

.navbar-link__account {
    position: relative;
    justify-content: center;
    padding: 0 18px;
    display: flex;
    align-items: center;
}

.navbar-link__account-container {
    display: flex;
    align-items: center;
    padding: 5px 0;
    text-transform: none;
}

.shopee-avatar {
    width: 22px;
    height: 22px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 10px solid rgba(0, 0, 0, 0.09);
    box-sizing: border-box;
    top: 2px;
}

.shopee-avatar__placeholder {
    width: 100%;
    position: relative;
    padding-top: 100%;
    border-radius: 50%;
    overflow: hidden;

    .icon-headshot {
        display: inline-block;
        width: 16px;
        height: 16px;
        fill: currentColor;
    }
}

.shopee-avatar__img {
    border-radius: 50%;
    position: absolute;
    top: -9px;
    left: -9px;
    display: block;
    cursor: pointer;
}

.navbar__username {
    max-width: 150px;
    padding-left: 5px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    top: 3px;

    &:hover {
        opacity: 0.6;
        user-select: none;
    }
}

.navbar-account-drawer__content {
    box-shadow: 0 1px 50px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: 150px;
    border-radius: 2px;
    border-top: 0;
    position: relative;
    top: 19px;
    right: 26px;

    span {
        &:hover {
            color: #00bfa5;
        }
    }
}

.logout,
.navbar-account-drawer_btn {
    background-color: initial;
    border: 0;
    color: #333;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500 !important;
    padding: 12px 0 12px 14px;
}

.popover_arrow3 {
    height: 14px;
    position: absolute;
    top: -6px;
    border-bottom: 10px solid rgba(0, 0, 0, 0.09);
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;

    .popover_arrow-inner3 {
        border-bottom: 10px solid rgb(255, 255, 255);
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        bottom: -2px;
        position: absolute;
        left: 64px;
        width: 0;
        height: 0;
    }
}

.new-notify-popover {
    width: 400px;
    background-color: #fff;
    box-shadow: 0 1px 3.125rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.125rem;
    overflow: hidden;
    color: #000;
}

.new-notify-wrapper {
    padding: 0 10px;
    height: 40px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.26);
    display: flex;
    align-items: center;
}

.notify-wrapper {
    padding: 8px 10px;
    background-color: #fff2ee;
    cursor: pointer;
    -moz-user-select: none;
    user-select: none;
    display: flex;

    .notify-image-wrapper {
        align-items: center;
        justify-content: center;
        display: flex;
        min-width: 40px;
        height: 40px;
        margin-right: 5px;

        .notify-image {
            width: 100%;
            height: 100%;
            position: relative;

            img {
                background-size: contain;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                opacity: 1;
                transition: opacity 0.2s ease;
            }
        }
    }
}

.notify-desc-wrapper {
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.54);
    word-wrap: break-word;

    .notify-desc-wrapper-header {
        color: rgba(0, 0, 0, 0.8);
        font-size: 14px;
        margin-bottom: 5px;
    }

    .noptify-desc {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 5px;
    }
}

// Responsive

@media (min-width: 1200px) and (max-width: 1439px) {
    .navbar {
        max-width: 1000px;
    }

    .header-with-search-wrapper {
        .header-with-search {
            width: 1010px !important;
        }
    }

    .header-with-search__search-section {
        width: 744px;
    }

    .header-with-search__cart-wrapper {
        margin-left: 38px;
        margin-right: 0;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .navbar {
        max-width: 960px;
    }

    .header-with-search-wrapper {
        .header-with-search {
            width: 970px !important;
        }
    }

    .header-with-search__search-section {
        width: 700px;
    }

    .header-with-search__cart-wrapper {
        margin-left: 38px;
        margin-right: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .navbar {
        max-width: 940px;
    }
    .header-with-search-wrapper {
        .header-with-search {
            width: 700px !important;
        }
    }

    .header-with-search__cart-wrapper {
        margin-left: 38px;
        margin-right: 0;
    }

    .bars-icon {
        height: 30px;
        position: absolute;
        right: 24px;
        margin-top: 4px;
        display: block !important;
    }
    .navbar__links {
        visibility: hidden;
    }
}
